/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Se apilan verticalmente */
    min-height: 100vh; /* Toda la altura de la pantalla */
    font-family: Arial, sans-serif;
}

header {
    background-color: grey;
    color: white;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #104e8b; /* Línea separadora */
}

main {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-bottom: 4px solid #ccc;
}

footer {
    background-color: #333; /* Negro */
    color: white;
    text-align: center;
    padding: 3px;
}
input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #999;
}
#logoima{
    width: 80px;
    height: 80px;
}
#titlebien{
    font-size: 50px;
}
#liopcion li{
   display: inline-block;
   align-items: center;
   padding: 0px;
   margin: 0px;
}
.alert {
  background-color: #f0f8ff;
  border: 1px solid #00a;
  padding: 10px;
  margin: 5px 0;
  color: #00a;
}